@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
  body{
    @apply font-[Raleway];
    @apply text-[#f4fefd] text-xl;
  }
  li{
    @apply px-4;
    @apply cursor-pointer;
  }

}


  .content-div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
  }

.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(14, 246, 204, 0.7),
    hsla(169, 93%, 51%, 0.7)
  ) !important;
}